body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  overflow: hidden;
  transition: 2.5s;
}

.clock {
  width: 600px;
  height: 600px;
  background-color: rgb(0 65 80);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 180deg;
  position: relative;
  // transition: .5s;
  transform: scale(0.5);
  z-index: 4;
  margin-top: -50px;

  .sec {
    position: absolute;
    width: 20px;
    height: 90%;
    border-radius: 25px;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // transition: .5s;
    z-index: 3;

    .dot {
      width: 50px;
      height: 50px;
      background-color: rgb(100 200 170);
      border-radius: 50%;
      transition: .5s;
    }

    .date {
      bottom: 220px;
      white-space: nowrap;
      font-size: 50px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      display: flex;
      margin-top: -20px;

      .text {
        cursor: default;
        user-select: none;
        color: rgb(225 225 225);
        transition: .5s;
      }
    }
  }

  .text:nth-child(1) {
    transform: translate(0px, 10px) rotate(-14deg);
  }

  .text:nth-child(2) {
    transform: translate(0px, 4px) rotate(-9deg);
  }

  .text:nth-child(3) {
    transform: translate(0px, 1px) rotate(-2deg);
  }

  .text:nth-child(4) {
    transform: translate(0px, 1px) rotate(-3deg);
  }

  .text:nth-child(5) {
    transform: translate(0px, 4px) rotate(9deg);
  }

  .text:nth-child(6) {
    transform: translate(0px, 10px) rotate(14deg);
  }


  .min {
    position: absolute;
    width: 35px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // transition: .5s;
    z-index: 2;

    .head {
      width: 100%;
      height: 46%;
    }

    .tail {
      width: 100%;
      height: 54%;
      background-color: rgb(155 174 255);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      border-radius: 25px;
      transition: .5s;
    }
  }

  .hr {
    position: absolute;
    width: 35px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // transition: .5s;
    z-index: 1;

    .head {
      width: 100%;
      height: 45%;
    }

    .tail {
      width: 100%;
      height: 55%;
      background-color: rgb(105 145 215);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      border-radius: 25px;
      transition: .5s;
    }
  }
}

.frame_wrap {
  height: 660px;
  width: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  // transition: .5s;
  rotate: 13deg;
  transform: scale(0.5);
  margin-top: -50px;

  img {
    width: 100%;
    height: 100%;
  }
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'Rubik Bubbles', cursive;
  padding-bottom: 55px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  user-select: none;

  span {
    color: #fff;
    font-size: 20px;
  }
}

.heart-switch {
  --duration: .45s;
  --stroke: #D1D6EE;
  --stroke-active: #ec4472;
  --fill: #fff;
  --fill-active: #ec638e;
  --shadow: #{rgba(#00093D, .25)};
  cursor: pointer;
  position: relative;
  transform: scale(var(--s, 1)) translateZ(0);
  transition: transform .2s;
  -webkit-tap-highlight-color: transparent;
  margin-left: 5px;
  margin-right: 5px;

  &:active {
    --s: .95;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    outline: none;
    border: none;
    pointer-events: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cac8c89e;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;

    &+svg {
      width: 36px;
      height: 25px;
      fill: var(--fill);
      stroke: var(--stroke);
      stroke-width: 1px;
      stroke-linejoin: round;
      display: block;
      transition: stroke var(--duration), fill var(--duration);
    }

    &:not(:checked) {
      animation: uncheck var(--duration) linear forwards;
    }

    &:checked {
      animation: check var(--duration) linear forwards;
      background: #fff;

      &+svg {
        --fill: var(--fill-active);
        --stroke: var(--stroke-active);
      }
    }
  }
}

@keyframes uncheck {
  0% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }

  50% {
    transform: rotate(30deg) translateX(9px);
  }

  75% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }

  100% {
    transform: rotate(30deg);
  }
}

@keyframes check {
  0% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }

  50% {
    transform: rotate(30deg) translateX(9px);
  }

  100% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.fill {
  // fill: orange;
  transition: .5s;
}